html,
body {
  height: 100%;
  color: white;
}

header {
  text-align: center;
}

.main-container {
  justify-content: space-between;
  margin: 20px;
}

#eventday {
  width: 45%;
  margin: 10px;
}

#schedule {
  width: 45%;
}

.sub-container {
  justify-content: space-between;
  margin: 20px;
}

#ticketinfo {
  width: 45%;
}

#travelinfo {
  width: 45%;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}
footer {
  text-align: center;
}

/*.savBtn {
  width: 100px;
}*/
footer a {
  color: white;
}
footer p {
  margin-top: 5px;
}
